.container {
  display: flex;
  background-color: #5dbc67;
  width: 18%;
  height: 85vh;
  justify-content: flex-start;
  flex-direction: column;
}

.schoolName {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  height: 4.6vh;
}

.schoolName > p {
  color: white;
  font-weight: 700;
  margin-left: 1vh;
}

img {
  height: 48px;
  width: 52px;
}

.menuItems {
  display: flex;
  margin-top: 3vh;
}
